@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

.App {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 800px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem;
}

.section {
  width: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
  color: black;
}

.section-inputs,
.section-temperature {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  backdrop-filter: blur(8px);
}

.section-inputs {
  justify-content: space-between;
  width: 100%;
}

.section-inputs > input {
  border-radius: 24px;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  background-color: #dce2f0;
}

.section-inputs > input:focus {
  outline: none;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon > h3 {
  font-size: 20px;
  font-weight: 200;
  text-transform: capitalize;
}

.temperature > h1 {
  font-size: 60px;
}

button {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 24px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 44px;
  width: 100px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 20px;
  font-weight: bold;
}

button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

@media screen and (max-width: 1024px) {
  button {
    width: 57px;
    height: 42px;
  }
}
